.csss {
  width: 550px;
  margin: auto;

}

.d1 {
  display: inline-block;

  width: 150px;
  height: 150px;
  margin: 10px;

  text-align: center;
  line-height: 150%;

  background-color: #f0ffff;
  box-shadow: 0 0 15px 2px #aaa;
}

.d2 {
  display: inline-block;

  width: 150px;
  height: 150px;
  margin: 10px;
  text-align: center;
  line-height: 150%;

  background-color: #ffdfdf;
  box-shadow: 0 0 15px 2px #aaa;
}

.d3 {
  display: inline-block;
  width: 150px;
  height: 150px;
  margin: 10px;

  text-align: center;
  line-height: 150%;

  background-color: rgb(255, 238, 238);
  box-shadow: 0 0 15px 2px #aaa;
}

div.side {

  display: block;
  width: 150px;
  height: 600px;
  margin: 10px;

  text-align: center;
  line-height: 150%;

  background-color: rgb(255, 238, 238);
  box-shadow: 0 0 15px 2px #aaa;
}

div.t1 {
  display: inline-block;
  width: 350px;
  height: 100px;
  margin: 10px;

  position: relative;
  right: -32%;
  top: -62%;

  text-align: center;
  line-height: 150%;

  background-color: rgb(255, 238, 238);
  box-shadow: 0 0 15px 2px #aaa;
}

div.t2 {
  display: inline-block;
  width: 215px;

  position: fixed;
  top: 50%;
  right: 0%;
  line-height: 150%;


  background-image: url("https://i.imgs.ovh/2025/02/26/7JsHY.th.png");
  background-size: contain;
  box-shadow: 0 0 15px 2px #aaa;
}

t2.p {
  background-color: #fff;
}
